In [19]:
import mysql.connector
from mysql.connector.constants import ClientFlag

In [20]:
config = {
    'user': 'root',
    'password': '>D"@p5dgh}@K)C6)',
    'host': 'localhost',
    'database': 'data',
    #'auth_plugin' : 'mysql_native_password'
}

cnx = mysql.connector.connect(**config)
cnx.autocommit = True
cursor = cnx.cursor()

In [21]:
def markdown_table(res, titles):
    if len(titles) != len(res[0]):
        raise Exception("arg arrays don't match")

    table = ' | '.join(titles)
    table += '\n'
    table += ' | '.join([":---:"] * len(titles))
    table += '\n'

    for row in res:
        table += ' | '.join([str(elem) for elem in row])
        table += '\n'

    return table

In [22]:
###QUERY 3
cursor.execute("""SELECT vm.description , COUNT(vm.description)
FROM(
    SELECT p.id 
    FROM Collisions c , CollisionSeverity cs, Parties p
    WHERE c.collision_severity = cs.id AND ( 
          cs.description = 'Fatal' OR
          cs.description = 'Severe') AND 
          p.case_id = c.case_id) AS hard_collisions, Vehicles v, VehiculeMake vm
WHERE v.party_id = hard_collisions.id AND   
      vm.id = v.vehicle_make
GROUP BY (vm.description)
ORDER BY COUNT(vm.description) DESC 
LIMIT 10
""")

In [23]:
res = cursor.fetchall()

In [24]:
res

[('FORD', 6581),
 ('CHEVROLET', 4901),
 ('TOYOTA', 4333),
 ('HONDA', 3889),
 ('DODGE', 1990),
 ('NISSAN', 1626),
 ('GMC', 1083),
 ('NOT STATED', 927),
 ('MISCELLANEOUS', 822),
 ('FREIGHTLINER', 810)]

In [28]:
###QUERY 8
cursor.execute("""SELECT v.vehicle_make, v.vehicle_year, v.statewide_vehicle_type, COUNT(*) AS num_of_collisions
FROM
  Vehicles v,
  Parties p,
  Collisions c
WHERE v.party_id = p.id AND 
    p.case_id = c.case_id
GROUP BY (v.vehicle_make, v.vehicle_year, v.statewide_vehicle_type)
HAVING(COUNT(*) > 9)
ORDER BY num_of_collisions DESC
""")

DataError: 1241 (21000): Operand should contain 1 column(s)

In [26]:
res = cursor.fetchall()

In [27]:
cursor.execute(""""SELECT CASE WHEN l.description = 'daylight'
  OR (
    f.lighting = NULL
    AND c.collision_time BETWEEN '00:08:00'
    AND '17:59:00'
  ) THEN 'day' WHEN (
    f.lighting = NULL
    AND c.collision_time BETWEEN '00:06:00'
    AND '07:59:00'
  )
  OR (
    l.description = 'dusk or dawn'
    AND (
      c.collision_time BETWEEN '00:06:00'
      AND '07:59:00'
    )
  ) THEN 'dawn' WHEN (
    f.lighting = NULL
    AND c.collision_time BETWEEN '00:18:00'
    AND '19:59:00'
  )
  OR (
    l.description = 'dusk or dawn'
    AND (
      c.collision_time BETWEEN '00:18:00'
      AND '19:59:00'
    )
  ) THEN 'dusk' ELSE 'night' END AS time_of_day,
  count(1) as num
FROM
  Factors f,
  Lighting l,
  Collisions c
WHERE
  f.case_id = c.case_id
  AND (
    f.lighting = l.id
    OR f.lighting = NULL
  )
GROUP BY
  time_of_day""")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"SELECT
  CASE WHEN l.description = 'daylight'
  OR (
    f.lighting = NULL
    ' at line 1

In [7]:
res = cursor.fetchall