In [1]:
import pandas as pd
pd.set_option("display.max.columns", None)

In [3]:
col = pd.read_csv('../collisions2018.csv', dtype={'case_id': str})

/Users/xavier/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
col['case_id'].str.len().max()

19

In [5]:
# col.head(15)

# col["lighting"].str.len().max()
col["case_id"].value_counts(dropna=False)
# col['jurisdiction'].isnull().values.any()

0803992                1
1953011204182909296    1
1946465                1
2446660                1
2238279                1
                      ..
1202604                1
2751083                1
0906183                1
2632569                1
2996887                1
Name: case_id, Length: 3678063, dtype: int64

In [115]:
col.loc[col['road_surface'] == 'H']

,case_id,collision_date,collision_severity,collision_time,county_city_location,hit_and_run,jurisdiction,lighting,location_type,officer_id,pcf_violation,pcf_violation_category,pcf_violation_subsection,population,primary_collision_factor,process_date,ramp_intersection,road_condition_1,road_condition_2,road_surface,tow_away,type_of_collision,weather_1,weather_2
2637317,2816618.0,2006-09-14,property damage only,14:30:00,501,D,501.0,daylight,NaN,226,NaN,21804,N,2.0,NaN,2007-01-16,NaN,NaN,holes,H,0.0,rear end,NaN,NaN

In [19]:
col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678063 entries, 0 to 3678062
Data columns (total 24 columns):
 #   Column                    Dtype
---  ------                    -----
 0   case_id                   float64
 1   collision_date            object
 2   collision_severity        object
 3   collision_time            object
 4   county_city_location      int64
 5   hit_and_run               object
 6   jurisdiction              float64
 7   lighting                  object
 8   location_type             object
 9   officer_id                object
 10  pcf_violation             float64
 11  pcf_violation_category    object
 12  pcf_violation_subsection  object
 13  population                float64
 14  primary_collision_factor  object
 15  process_date              object
 16  ramp_intersection         float64
 17  road_condition_1          object
 18  road_condition_2          object
 19  road_surface              object
 20  tow_away                  float64
 21  type_of_collision         object
 22  weather_1                 object
 23  weather_2                 object
dtypes: float64(6), int64(1), object(17)
memory usage: 673.5+ MB

In [7]:
part = pd.read_csv('../parties2018.csv', dtype={'case_id': str})

/Users/xavier/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,13,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# part.head(20)
# part.loc[part["case_id"] == 3.0]
# part.loc[part["school_bus_related"]  ]
# part['party_type'].str.len().max()
part['financial_responsibility'].value_counts(dropna=False)
# part['pcf_violation'].isnull().values.any()

Y      5249681
N       746801
O       664187
NaN     624967
E          970
Name: financial_responsibility, dtype: int64

In [21]:
part.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7286606 entries, 0 to 7286605
Data columns (total 21 columns):
 #   Column                        Dtype
---  ------                        -----
 0   at_fault                      int64
 1   case_id                       float64
 2   cellphone_use                 object
 3   financial_responsibility      object
 4   hazardous_materials           object
 5   id                            int64
 6   movement_preceding_collision  object
 7   other_associate_factor_1      object
 8   other_associate_factor_2      object
 9   party_age                     float64
 10  party_drug_physical           object
 11  party_number                  int64
 12  party_safety_equipment_1      object
 13  party_safety_equipment_2      object
 14  party_sex                     object
 15  party_sobriety                object
 16  party_type                    object
 17  school_bus_related            object
 18  statewide_vehicle_type        object
 19  vehicle_make                  object
 20  vehicle_year                  float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.1+ GB

In [3]:
vict = pd.read_csv('../victims2018.csv', dtype={'case_id': str})

/Users/xavier/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# vict.head(15)
# vict.loc[vict['case_id'] == 3.0]
vict["victim_safety_equipment_1"].value_counts(dropna=False)
# vict['victim_safety_equipment_1'].str.len().max()

G      1604459
M       852496
P       502238
L       333893
NaN     223521
Q       131274
B        88341
C        80584
A        52112
H        45154
N        43321
W        41968
V        28304
E        12132
D        11974
Y         8160
F         6602
U         6303
J         3747
T         1677
S         1202
K         1168
R         1062
X          993
Name: victim_safety_equipment_1, dtype: int64

In [23]:
vict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4082685 entries, 0 to 4082684
Data columns (total 11 columns):
 #   Column                     Dtype
---  ------                     -----
 0   case_id                    float64
 1   id                         int64
 2   party_number               int64
 3   victim_age                 float64
 4   victim_degree_of_injury    object
 5   victim_ejected             float64
 6   victim_role                int64
 7   victim_safety_equipment_1  object
 8   victim_safety_equipment_2  object
 9   victim_seating_position    float64
 10  victim_sex                 object
dtypes: float64(4), int64(3), object(4)
memory usage: 342.6+ MB

In [4]:
vict["id"].is_unique

True

In [7]:
vict["victim_age"].median()

25.0